<header class="Header">
  <h1 class="Header__title">
    Currency Converter
  </h1>

  <ul class="Header__list">
    <li class="Header__item">
      <span class="circle-one">1 $</span> :
      <span class="current-currency">{{ headerCurrency.USD }}</span> UAH
    </li>
    <li class="Header__item">
      <span class="circle-one">1 €</span> :
      <span class="current-currency">{{ headerCurrency.EUR }}</span> UAH
    </li>
  </ul>
</header>

<main class="Main">
  <div class="Converter">
    <p>
      Convert from:
    </p>

    <div class="Converter__selection">

      <label>
        <input
          #amountFrom
          type="text"
          name="amountFrom"
          id="amountFrom"
          [value]="resultToFrom"
          (keyup)="convertFromTo(amountFrom.value)"
          class="Converter__input"
          required
        />
      </label>
      <label>
        <select
          #s1
          name="select_from"
          id="select_from"
          [value]="select_from"
          (change)="changeSelectFrom(s1.value)"
          class="Converter__input"
        >
          <option *ngFor="let currency of currencies" [value]="currency">
            {{ currency }}
          </option>
        </select>
        <p class="error-message">
          {{ errorMessage }}
        </p>
      </label>
    </div>

    <p>
      To:
    </p>

    <div class="Converter__selection">
      <label>
        <input
          #amountTo
          type="text"
          name="amountTo"
          id="amountTo"
          [value]="resultFromTo"
          (keyup)="convertToFrom(amountTo.value)"
          class="Converter__input"
          required
        />
      </label>
      <label>
        <select
          #s2
          name="select_to"
          id="select_to"
          [value]="select_to"
          (change)="changeSelectTo(s2.value)"
          class="Converter__input"
        >
          <option value="USD">
            USD
          </option>
          <option value="UAH">
            UAH
          </option>
          <option value="EUR">
            EUR
          </option>
        </select>
        <p class="error-message">
          {{ errorMessage }}
        </p>
      </label>
    </div>
  </div>
</main>

<router-outlet></router-outlet>
